    .fade-up{

    animation:fadeUp .8s ease;

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.hover-card{

transition:.35s;

}

.hover-card:hover{

transform:translateY(-8px);

}

.hover-scale{

transition:.3s;

}

.hover-scale:hover{

transform:scale(1.03);

}