@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root{

  --bg:#0F1117;
  --bg-secondary:#181C24;

  --card:#1E2533;
  --card-hover:#252F40;

  --border:#2B3445;

  --primary:#4F8CFF;
  --secondary:#8B5CF6;

  --success:#22C55E;
  --warning:#F59E0B;
  --danger:#EF4444;

  --text:#F8FAFC;
  --text-light:#94A3B8;

  --radius:20px;

  --shadow:
      0 10px 35px rgba(0,0,0,.35);

  --transition:.3s ease;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:"Inter",sans-serif;

    background:var(--bg);

    color:var(--text);

    overflow-x:hidden;

}

a{
    color:inherit;
    text-decoration:none;
}

button{
    font-family:inherit;
}

input,
textarea{

    font-family:inherit;

}